.lmj-banner {
  color: black;
  text-align: right;
  padding: 32px;
  border-bottom: solid 3px black;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  opacity: 0.5;
}

.lmj-title {
  padding-left: 32px;
}

.lmj-logo {
  position: absolute;
  left: 0%;
  top: -110%;
  height: 20em;
  width: 20em;
}

.header-title {
  text-align: center;
  padding-top: 20px;
  font-size: 1.5em;
  color: #fff;
  background-color: #ff0080;
  height: 120px;
}

.flex {
  display: flex;
  justify-content: space-around;
}
