.lmj-footer {
  color: black;
  padding: 5px;

  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #3d3d3d;
}
.footer-content {
  text-align: center;
  width: 100%;
  font-size: 0.5em;
  color: #fff;
}
